<div class="card">
    <div class="divImage">
        <img class="imgPoke" [src]="pokemonData.sprites.front_default" alt="">
    </div>

    <div class="divName">
        <h3 class="name">{{toCapitalize(pokemonData.name)}}</h3>
        <p class="idPoke">#{{addLeadingZeros(pokemonData.id)}}</p>
    </div>

    <div class="divType">
        <div style="display: flex ; gap: 30px;">
            <p [ngStyle]="{ 'background-color': getTypeColor(tipo.type.name) }" class="type" *ngFor="let tipo of pokemonData.types">{{tipo.type.name}}</p>
        </div>
    </div>
</div>

